apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      initContainers:
      - name: wait-for-mongo
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            echo 'Waiting for product Mongo...';
            until nc -z product-mongo-svc 27017; do echo '  -> still starting'; sleep 1; done;
            echo 'Product Mongo is up.';
      containers:
      - name: product
        image: datnx/product:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-product-secret
              key: username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-product-secret
              key: password
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: mongo-product-config
              key: MONGO_HOST
        - name: MONGO_PORT
          valueFrom:
            configMapKeyRef:
              name: mongo-product-config
              key: MONGO_PORT
        # Kafka configuration (replacing NATS)
        - name: KAFKA_BROKERS
          value: kafka-svc:9092
        - name: KAFKA_CLIENT_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MINIO_ENDPOINT
          value: minio-svc
        - name: MINIO_PORT
          value: "9000"
        - name: MINIO_USE_SSL
          value: "false"
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: MINIO_ROOT_USER
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: MINIO_ROOT_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: product-svc
spec:
  selector:
    app: product
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: ClusterIP
