apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: datnx/product:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-product-secret
              key: username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-product-secret
              key: password
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: mongo-product-config
              key: MONGO_HOST
        - name: MONGO_PORT
          valueFrom:
            configMapKeyRef:
              name: mongo-product-config
              key: MONGO_PORT
        - name: NATS_URL
          value: http://nats-svc:4222
        - name: NATS_CLUSTER_ID
          value: ticketing
        # make client id unique with name of pod
        - name: NATS_CLIENT_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: product-svc
spec:
  selector:
    app: product
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: ClusterIP
