apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      initContainers:
      - name: wait-for-mongo
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            echo 'Waiting for order Mongo...';
            until nc -z order-mongo-svc 27017; do echo '  -> still starting'; sleep 1; done;
            echo 'Order Mongo is up.';
      containers:
      - name: order
        image: datnx/order:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
        - name: ADMIN_EMAIL
          value: admin@gmail.com
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-order-secret
              key: username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-order-secret
              key: password
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: mongo-order-config
              key: MONGO_HOST
        - name: MONGO_PORT
          valueFrom:
            configMapKeyRef:
              name: mongo-order-config
              key: MONGO_PORT
        # Kafka configuration (replacing NATS)
        - name: KAFKA_BROKERS
          value: kafka-svc:9092
        - name: KAFKA_CLIENT_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: order-svc
spec:
  selector:
    app: order
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: ClusterIP
