apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - name: notifications
        image: datnx/notifications:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: PORT
          value: "3000"
        - name: KAFKA_BROKERS
          value: kafka-svc:9092
        - name: KAFKA_CLIENT_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: notifications-svc
spec:
  selector:
    app: notifications
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: ClusterIP
