apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      initContainers:
      - name: wait-for-mongo
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            echo 'Waiting for auth Mongo...';
            until nc -z auth-mongo-svc 27017; do echo '  -> still starting'; sleep 1; done;
            echo 'Auth Mongo is up.';
      containers:
      - name: auth
        image: datnx/auth:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-auth-secret
              key: username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-auth-secret
              key: password
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: mongo-auth-config
              key: MONGO_HOST
        - name: MONGO_PORT
          valueFrom:
            configMapKeyRef:
              name: mongo-auth-config
              key: MONGO_PORT
        
---
apiVersion: v1
kind: Service
metadata:
  name: auth-svc
spec:
  selector:
    app: auth
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: ClusterIP
