apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      initContainers:
      - name: wait-for-mongo
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            echo 'Waiting for payment Mongo...';
            until nc -z payment-mongo-svc 27017; do echo '  -> still starting'; sleep 1; done;
            echo 'Payment Mongo is up.';
      containers:
      - name: payment
        image: datnx/payment:latest
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: JWT_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_KEY
        - name: STRIPE_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: stripe-secret
              key: STRIPE_SECRET_KEY
        - name: PRODUCT_SERVICE_URL
          value: http://product-svc:3000
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-payment-secret
              key: username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-payment-secret
              key: password
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: mongo-payment-config
              key: MONGO_HOST
        - name: MONGO_PORT
          valueFrom:
            configMapKeyRef:
              name: mongo-payment-config
              key: MONGO_PORT
        # Kafka configuration (replacing NATS)
        - name: KAFKA_BROKERS
          value: kafka-svc:9092
        - name: KAFKA_CLIENT_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: payment-svc
spec:
  selector:
    app: payment
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  type: ClusterIP
